<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charaset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="style.css">
  <title><%= @title %></title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</body>
</html>
