<div class=form-wrapper>
  <h2>SHARERARE</h2>

  <form action="/log_in" method="post">
    <div class="form-item">
      <input type="text" name="email" placeholder="メールアドレス">
    </div>

    <div class="form-item">
      <input type="password" name="password" placeholder="パスワード">
    </div>

    <div class="button-panel">
      <input type="submit" class="button" title="ログイン" value="ログイン">
    </div>
  </form>

  <div class="form-footer">
    アカウントをお持ちでない方は<a href="/sign_up">こちら</a>
  </div>
</div>