<div class="form-wrapper">
  <h2>SHARERARE</h2>
  <h4>新規登録</h4>

  <form action="/sign_up" method="POST">
  
    <div class="form-item">
      <input type="text" name="name" placeholder="名前">
    </div>

    <div class="form-item">
      <input type="text" name="email" placeholder="メールアドレス">
    </div>

    <div class="form-item">
      <input type="password" name="password" placeholder="パスワード">
    </div>

    <div class="button-panel">
      <input type="submit" class="button" value="アカウント作成">
    </div>
  
  </form>

  <div class="form-footer">
    <a href="/log_in">ログイン</a>
  </div>
</div>
